.answer{
    margin-bottom: 50px;
}

.voting{
    margin: 10px 0px;
}

.upvote{
    margin-right: 10px;
}

#upvote:hover{
    background-color: #90EE90;
    text-decoration: none;
}

#downvote:hover{
    background-color: indianred;
    text-decoration: none;
}

.question{
    margin: 0;
}